*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.handbag-body {
  background: linear-gradient(260deg, #b75d62, #4d6f75);
}
.boot-body {
  background: linear-gradient(260deg, #5d89b7, #6a754d);
}
.hat-body {
  background: linear-gradient(260deg, #5db7a5, #704d75);
}

.showcase {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  padding: 0rem 15% 0rem 15%;
  overflow: hidden;
}

nav {
  min-height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 15%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

nav img {
  transform: scale(0.8);
  cursor: pointer;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: 2;
  flex: 1;
}

.image-container img {
  width: 80%;
}

.showcase-text {
  flex: 1;
  color: white;
  padding-bottom: 10rem;
}

.showcase-title {
  font-size: 2rem;
}

.showcase-subtitle {
  font-size: 1rem;
  padding: 3rem 0rem;
  font-weight: 400;
}

.showcase-button {
  padding: 0.5rem 2rem;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Poppins" sans-serif;
  font-size: 0.8rem;
}

.showcase-arrow {
  position: absolute;
  right: 15%;
  bottom: 10%;
  transform: scale(0.6);
}

/* Bubble */

.circle {
  position: absolute;
}

.circle-1 {
  left: -3%;
  bottom: -3%;
  transform: scale(2);
}

.circle-2 {
  left: 35%;
  bottom: 10%;
}

.circle-3 {
  left: 20%;
  top: 15%;
  transform: scale(1.5);
}
